#videoEditor {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#canvas {
    border: 1px solid #000;
    display: block;
    margin: 10px auto;
    box-sizing: content-box;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #000;
    background-color: #f2f2f2;
    cursor: pointer;
}
