#videoEditor {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#initiCanvas {
    border: 1px solid #000;
    display: block;
    margin: 10px;
    box-sizing: content-box;

}
.button-container {
    display: flex; /* Use flexbox to arrange buttons horizontally */
    justify-content: left; /* Center-align buttons horizontally */
    align-items:flex-start; /* Center-align buttons vertically */
}

button {
    margin: 10px;
    padding: 10px;
}
